{{> Partials/header}}

<main class="container mt-5 mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h1>Gérer le Raspberry Pi - {{ip}}</h1>
        </div>
        <div class="card-body">
          <p>Ici, vous pouvez gérer le contenu média diffusé par ce Raspberry Pi.</p>
          <!-- formulaires et les contrôles pour gérer le contenu média -->
        </div>
      </div>
    </div>
  </div>
</main>

{{> Partials/footer}}
